<section class="row text-center">
  <h2>Create New Blog Post</h2>

  <form class="new-blog-form row">
    <div class="row justify-content-center">
      <label class="col-2" for="blog-title">Title</label>
      <input class="col-2" type="text" id="blog-title" name="blog-title" />
    </div>
    <div class="row justify-content-center">
      <label class="col-2" for="blog-content">Content</label>
      <input class="col-2" id="blog-content" name="blog_content" />
    </div>
    <button type="submit" class="btn col-2">Create</button>
  </form>
  
</section>

{{#if blogs.length}}
<section>
  <h2 class="text-center heading">Your Content</h2>
  <ul>
    {{#each blogs as |blog|}}
    <li>
      {{> blog-info blog}}
      <a href="/dashboard/edit/{{blog.id}}">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-blog.js"></script>