<section class="row text-center">
  <h2>
    Edit Blog Post
  </h2>
  <form class="edit-blog-form row">
    <div class="row justify-content-center">
      <label class="col-2" for="blog-title">Title</label>
      <input class="col-2" id="title" name="blog-title" type="text" value="{{blog.title}}" />
    </div>
    <div class="row justify-content-center">
      <label class="col-2" for="blog-content">Content</label>
      <input class="col-2"
        id="blog-content"
        name="blog-content"
        type="text"
        value="{{blog.blog_content}}"
      />
       <div class="col-12 caption">
      Written by you on
      {{format_date blog.created_at}}
    </div>
    </div>
  <div class="row">
    <button class=" btn col-2 " type="submit">Save</button>
    <button class=" btn col-2 delete-blog-btn " type="button">Delete</button>
  </div>  
  </form>
</section>
<div>


<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>