{{> blog-info blog}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  {{#each comment}}
  {{> comments }}
  {{/each}}
  <div>
    <button type="submit">add comment</button>

  </div>
</form>
{{/if}}


{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}