{{> blog-info blog}}

{{#if loggedIn}}
<form class="comment-form">

  {{#each blog.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}}
      on
      {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
{{/each}}
<div>
<div>
  <input name="comment-body"></input>

  <button type="submit">add comment</button>
</div>
</form>
<script src="/javascript/add-comment.js"></script>
{{/if}}

