{{> blog-info blog}}

{{#if loggedIn}}
<form class="comment-form row text-left">

  {{#each blog.comments}}
  <section class="comment row">
    <div class="col-12">
      {{user.username}} on {{created_at}}
    </div>
    <div class="comment-text col-12">
      {{comment_text}}
    </div>
  </section>
{{/each}}
<div>
<div>
  <input id="new-comment"></input>

  <button type="submit" class="btn">add comment</button>
</div>
</form>
<script src="/javascript/add-comment.js"></script>
{{/if}}

